body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.popup-content {
  margin: auto;
  background-image: linear-gradient(to bottom right, red , yellow);
  font-family: 'Courier New', monospace;
  font-size: 20px;
  display:flex;
  flex-direction: row;
  align-items: center;
  width: 400px;
  padding: 5px;
  animation: shake 0.5s;
  /* animation-name: popup;
  animation-duration: 10s; */
}
.popup-arrow {
  display: none;
}
[role='tooltip'].popup-content {
  width: 450px;
  box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 2px;
  border-radius: 10px;
  border-color: rgb(47, 175, 7);
  border-width: 4px;
  border-style:ridge;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup='tooltip'].popup-overlay {
  background: transparent;
}

.popup-title{
  font-family: 'Courier New', monospace;
  font-size: 29px;
}

.character-info{
  font-size: 15px;
  margin: 0px;
}

.character-details{
  margin-left: 50px;
}

.character-image{
  box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 2px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}


@keyframes popuup {
  0%   {background-color:red}
  25%  {background-color:yellow}
  50%  {background-color:green}
  75%  {background-color:yellow}
  100% {background-color:red}
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}